body {
    background-image: url('example.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-color : #E60BA0;
    text-align:center;  
    cursor : url(too1137.cur), auto;
}
    

span.anth {
    font-weight : 999;
    font-size : 200%;
    
}
